.add-button {
  /*height: 100px !important;*/
  width: 100px !important;
  /*background-color: red !important;*/
  margin-bottom: 40px !important;
}
 .next-button {
  margin-top: 100px !important;
}
.goal-item {
  color: blue !important;
  font-size: 20px !important;
}